.Panel {
  margin-bottom: 2rem;
  padding: 1.5rem 2.8rem;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: rgba(black, 0.08) 0 0.8rem 1.5rem;
}

.Panel_inactive {
  background-color: rgba(white, 0.4);
  box-shadow: none;
}