@import '../../styles/common';

.ExpenseItem {
  height: 7rem;
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.ExpenseItem_inactive {
  color: #808C8D;
}

.ExpenseItem__text {
  flex-grow: 1;
  padding: 0 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.ExpenseItem__name {
  @include textBaselineFix;
  @include textTrim;
}

.ExpenseItem__receiver {
  margin-top: -0.5rem;
  font-size: 2.5rem;
  color: #808C8D;

  @include textBaselineFix;
  @include textTrim;
}
