@import '../../styles/common';

.TodayItem {
  height: 7rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 4rem;
}

.TodayItem__text {
  flex-grow: 1;
  padding: 0 2.8rem;

  @include textBaselineFix;
  @include textTrim;
}
