@import '../../styles/common';

.IncomeItem {
  height: 7rem;
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.IncomeItem_inactive {
  color: #808C8D;
}

.IncomeItem__text {
  flex-grow: 1;
  padding: 0 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.IncomeItem__name {
  @include textTrim;
}

.IncomeItem__sender {
  margin-top: -0.5rem;
  font-size: 2.5rem;
  color: #808C8D;

  @include textTrim;
}