.IncomeItem {
  height: 7rem;
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.IncomeItem_inactive {
  color: #808C8D;
}

.IncomeItem__text {
  flex-grow: 1;
  padding: 0 2.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}